:root {
  --main-white: #fff;
  --main-black: #212121;
  --main-blue: #2196f3;
  --main-bg: #2f303a;
  --main-gray: #757575;
  --white-60: rgba(255, 255, 255, 0.6);
  --single-button-bg: #f5f4fa;
  --projects-list-li-border-color: #eeeeee;
  --header-border-color: #ececec;
  --description-item-icon-bg: #f5f4fa;
  --customers-border: 1px solid #afb1b8;
  --customers-icon-color: #afb1b8;
  --social-media-bg-color: rgba(255, 255, 255, 0.1);
}

/* * {
  outline: 2px solid tomato;
} */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--main-black);
  letter-spacing: 0.03em;
  line-height: 1.5rem;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
}

.main-header {
  justify-content: space-around;
  align-items: center;
  border-bottom: var(--header-border-color) 1px solid;
}

.item-header a {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.item-header:not(:last-child) {
  margin-right: 50px;
}

.icon-email,
.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

.overlay {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--main-gray);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.item-header .link:hover,
.item-header .link:focus,
.current-page {
  color: var(--main-blue);
}

.main-logo-link {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-right: 93px;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
}

.logo-web-blue {
  color: #2196f3;
  display: inline-block;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  font-weight: 500;
  align-items: center;
  display: flex;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .link,
.footer-contacts .link {
  color: var(--main-gray);
  font-weight: 500;
}

.main {
  margin-inline: auto;
  display: block;
}

.page-hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-size: 44px;
  color: var(--main-white);
  text-align: center;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 900;
  margin: auto;
}
.hero-button {
  height: 50px;
  width: 200px;
  background-color: var(--main-blue);
  color: var(--main-white);
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.description-item {
  margin-right: 30px;
}
.description-item:last-child {
  margin-right: 0;
}

.description-item div {
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  height: 120px;
  background-color: var(--description-item-icon-bg);
  border-radius: 4px;
  margin-bottom: 30px;
}

.description h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.description p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--main-gray);
  margin-top: 10px;
  text-align: justify;
}

.about-us {
  padding-top: 0;
}

.about-us ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.about-us-item {
  margin-top: 50px;
}

.our-team {
  background-color: var(--single-button-bg);
}

.our-team .team-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  gap: 30px;
  margin-top: 50px;
}

.our-team-member {
  background-color: var(--main-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-block {
  padding: 30px 0;
}

.team-member-list {
  display: flex;
  text-align: center;
}

.our-team h3 {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team p {
  font-size: 16px;
  color: var(--main-gray);
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: normal;
  margin-bottom: 16px;
}

.link-icon-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.link-icon-team:hover,
.link-icon-team:focus {
  background-color: var(--main-blue);
  color: var(--main-white);
}

.list-icon {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-team {
  fill: currentColor;
}

.buttons ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 50px;
  border: none;
  box-shadow: none;
}

.single-button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;

  border: none;
  background-color: var(--single-button-bg);
  padding: 6px 22px;
  cursor: pointer;
  border-radius: 4px;
}

.single-button:hover,
.single-button:focus {
  background-color: var(--main-blue);
  color: var(--main-white);
  outline: none;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.projects-list {
  margin: 0px auto;
}

.projects-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.project-list-item {
  text-align: left;
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  align-items: center;
}

.project-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-list h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--main-black);
  margin-bottom: 4px;
}
.projects-list p {
  color: var(--main-gray);
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  font-weight: 400;
  display: block;
}

.single-project-block {
  padding: 20px 24px;
  border: var(--header-border-color) 1px solid;
  border-top: none;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section .customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.customers-title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  margin: 0 0 50px 0;
}

.customers-list li:not(:last-child) {
  margin-right: 30px;
}

.customers-link {
  color: var(--customers-icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--customers-icon-color);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--main-blue);
  border-color: var(--main-blue);
}

.customers-icon {
  fill: currentColor;
}

.main-footer {
  background-color: var(--main-bg);
  padding: 60px 0;
}

.footer-address {
  list-style-type: none;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  margin-bottom: 9px;
}

.footer-address:last-child {
  margin: 0;
}

.address {
  margin-top: 20px;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-content .link:hover,
.footer-content .link:focus {
  color: var(--main-blue);
}

.footer-content .main-logo-link,
.footer-local-adress {
  color: var(--main-white);
}

.footer-contacts .footer-local-adress {
  color: var(--main-white);
  font-weight: 400;
}

/* --------------- Social Media Footer --------------- */
.social-media {
  margin-left: 70px;
}

.social-media h3 {
  color: var(--main-white);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-media-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media .link:hover,
.social-media .link-footer:focus {
  background-color: var(--main-blue);
  cursor: pointer;
  border-radius: 50%;
}

/* .social-media .link {
  background-color: var(--social-media-bg-color);
  border-radius: 50%;
} */

.social-media .link-footer {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-white);
  background-color: var(--social-media-bg-color);
  border-radius: 50%;
}

.social-media .link:not(:last-child) {
  margin-right: 10px;
}

.social-media .icon-footer {
  fill: currentColor;
}
/* 
.social-media .icon-footer {
  fill: var(--main-white);
  display: block;
  margin-left: auto;
  margin-right: auto;
} */
